//= require ./math_buttons
@import "math_buttons";

$scalar: 0.7;
$cursor-color: #aaa;

#eb_wrapper {
    margin-bottom: 20px;
}

.mfenced:hover {
    // border-right: 2px solid $cursor-color;
}

.mfenced {
    .mo.cursor-previous {
        border-left: 2px solid $cursor-color !important;
    }
}

.mfenced {
    .mo {
        border-left: 2px solid transparent !important;
    }
}

div.equation-builder {
    div.equation-builder-main
    {
        background: image-url('widgets/calculator_bg.png') !important;
        width: 622px;
        overflow: hidden;
        padding-bottom: 10px;

        .cursor-location {
            border-right: 2px solid transparent;
        }
        .cursor-location:hover {
            border-right: 2px solid $cursor-color;
        }

        .has-cursor-right {
            border-right: 2px solid transparent;
        }

        .has-cursor-right-active {
            border-right: 2px solid $cursor-color;
        }

        .has-cursor-show-left {
            border-left: 2px solid $cursor-color;
        }

        .has-cursor-left {
            border-left: 2px solid transparent;
        }
        .has-cursor-left-active {
            border-left: 2px solid $cursor-color;
        }

        /* figure.equation-display{ */
        /*     height: 50px; */
        /*     margin-top: 10px; */
        /* } */

        figure.equation-display {
            background-color: white;
            border-radius: $calculator_border_radius;
            -webkit-box-shadow: inset 0 0 5px $box_shadow_color;
            -moz-box-shadow: inset 0 0 5px $box_shadow_color;
            box-shadow: inner 0 0 5px $box_shadow_color;
            font-size: 2.3em;
            height: 45px;
            height: 60px;
            margin: auto;
            margin-bottom: 14px;
            margin-top: 10px;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 1px 8px 8px 1px;
            text-align: right;
            white-space: nowrap;
            width: 95%;
        }

        &> div > p {
            color: white;
            font-size: 0.9em;
        }

        div.explanatory-table{
            float: left;
            width: 235px;
            margin-left: 15px;

            table {
                width: 100%;
                background-color: white;
                thead{
                    background-color: #d5d5d5;
                    color: #444444;
                }
                th, td {
                    border-width: 1px;
                    border-style: solid;
                    border-color: #cccccc;
                    min-height: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }

        div.variable-panel
        {
            margin-left: 15px;
            float: left;
            width: 124px;
            overflow: auto;
            button {
                float: left;
                width: 120px;
                clear: both;
            }
        }

        div.control-panel
        {
            margin-left: 15px;
            float: left;
            width: 200px  * $scalar;
        }

        div.number-panel
        {
            p {
                color: white;
            }

            margin-left: 15px;
            float: left;
            width: 200px * $scalar;
        }

        @include math-button-sizing($scalar);
    }

    div.equation-builder-extra-buttons {
        & > div.advanced, & > div.numbers{
            float: right;
            width: 155px;
            text-align: right;
            .buttons {
                display: none;
            }
            a {
                background-color: black;
                color: white;
                display: block;
            }
        }
    }
}

div.equation-builder-location{
    margin-bottom: 20px;
}
